*{
	font-family: 'Roboto';
}
#c1{
	background-color: blue;
}
#c2{
	background-color: red;
}
#c3{
	background-color: yellow;
}
#c4{
	background-color: green;
}
#c5{
	background-color: orange;
}
.ico-gde{
	width: 5em;
	font-color: white;
}
#fondo{
	background-image: url(../img/img-divider-img.jpg);
	height:
	background-repeat: repeat-y;
}